<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xt.mapper.PermissionMapper" >
    
    <sql id="Base_Column_List" >
        id, permission, description, available
    </sql>

    <insert id="createPermission" parameterType="Permission" >
            INSERT INTO sys_permissions
            (permission,description,available)
            VALUES
            (#{permission,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{available,jdbcType=INTEGER})
    </insert>




    <delete id="deletePermission" parameterType="Long">
        DELETE FROM sys_permissions
        WHERE
        id=#{id,jdbcType=BIGINT}
    </delete>



    <select id="findById" parameterType="Long" resultType="Permission" >
        SELECT
       <include refid="Base_Column_List" />
	   FROM sys_permissions
	   WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findAll" resultType="Permission">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_permissions
    </select>




</mapper>