<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xt.mapper.RolePermMapper" >
    
    <sql id="Base_Column_List" >
        id, role_id, permission_id
    </sql>

    <insert id="add" parameterType="RolePermission">
        INSERT INTO sys_role_permission
        (role_id, permission_id)
        VALUES
        (#{roleId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
    </insert>

    <delete id="remove" parameterType="RolePermission">
        DELETE FROM sys_role_permission
        WHERE
        role_id = #{roleId,jdbcType=BIGINT} AND permission_id = #{permissionId,jdbcType=BIGINT}
    </delete>




</mapper>