<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xt.mapper.RoleMapper" >
    
    <sql id="Base_Column_List" >
        id, role, description, available
    </sql>

    <insert id="createRole" parameterType="Role" >
            INSERT INTO sys_roles
            (role,description,available)
            VALUES
            (#{role,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{available,jdbcType=INTEGER})
    </insert>




    <delete id="deleteRole" parameterType="Long">
        DELETE FROM sys_roles
        WHERE
        id=#{id,jdbcType=BIGINT}
    </delete>



    <select id="findById" parameterType="Long" resultType="Role" >
        SELECT
       <include refid="Base_Column_List" />
	   FROM sys_roles
	   WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findByRole" parameterType="String" resultType="Role">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_roles
        WHERE
        role = #{value,jdbcType=VARCHAR}
    </select>

    <select id="findAll" resultType="Role">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_roles
    </select>




</mapper>